Source: ros-kilted-rosbag2-storage-broll
Section: misc
Priority: optional
Maintainer: Emerson Knapp <emerson.knapp@bonsairobotics.ai>
Build-Depends: debhelper (>= 9.0.0), ros-kilted-ament-cmake, ros-kilted-ament-lint-auto <!nocheck>, ros-kilted-ament-lint-common <!nocheck>, ros-kilted-broll, ros-kilted-pluginlib, ros-kilted-rclcpp, ros-kilted-rosbag2-cpp, ros-kilted-rosbag2-storage, ros-kilted-rosbag2-transport, ros-kilted-sensor-msgs, ros-kilted-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-kilted-rosbag2-storage-broll
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kilted-broll, ros-kilted-pluginlib, ros-kilted-rclcpp, ros-kilted-rosbag2-cpp, ros-kilted-rosbag2-storage, ros-kilted-rosbag2-transport, ros-kilted-sensor-msgs, ros-kilted-ros-workspace
Description: Rosbag2 storage plugin to play audio/video files as ROS messages using B-Roll tools
